.main-img1{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.main-button1{
    background: transparent;
    margin-bottom: 5%;
}
.main-span1{
    position: relative;
    left: -30%;
}
.main-span2{
    position: relative;
    right: -30%;
}
.main-img3{
    width: 100%;
}
.main-img3-box{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.main-img4-box{
    display: flex;
    justify-content: center;
}
.main-img7{
   width: 25%;
}
.main-img7-box{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.main-img8-box{
    display: flex;
    justify-content: center;
}
.arrow{
    padding: 0px;
}
