*{
    list-style: none;
}
body{
    padding: 0px;
    margin: 0px;
    
}
.nav{
    height: 80px;
    background-color: rgb(196, 255, 252);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.main{
    height: 700px;
    background: url(https://cdn.pixabay.com/photo/2021/08/08/20/37/mountains-6531903_1280.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-left: -100px;
}
.footer{
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    margin-right: 30px;
    display: flex;
    color: rgb(26, 11, 11);
    justify-content: space-evenly;
    margin-right: -100px;
}
.menu a{
    margin: 0 20px;
    text-decoration: none;
    color: rgb(26, 11, 11);
    font-weight: bolder;
}
.menu a:hover{
    color: rgb(93, 255, 174);
}

.main h1{
    font-size: 110px;
    padding: 0;
    
}
.h1{
    margin: 0 200px 0 0;
    color: rgb(129, 236, 21);
}
.h2{
    margin: 0 0 0 200px;
    color: rgb(129, 236, 21);
}
h5{
    color: rgb(141, 255, 28);
    -webkit-text-stroke: 0.2px black;
}

.button{
    width: 200px; height: 50px;
    background-color: aquamarine;
    border-radius: 50px;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
}
.button:hover{
    scale: 105%;
}
.btmenu{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.btmenu img{
    margin-top: 5px;
    height: 50px;
}
.submenu{
    color: white;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin-left: -150px;
}
.submenu>li{
    margin: 0 20px;
    text-align: left;
}
.copy{
    margin-top: 20px;
}
.sub{
    text-align: left;
    padding: 0;
}
.btnav{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 50px;
}
.btcopy{
    color: white;
}
